
:root {
    --green     : #4CAF50;
    --green-dark: #45a049;
    --light-grey: #f1f46;
    --grey      : #ccc;
    --grey-dark : #777;
    --success   : #D0FFD0;
    --success-dark: #00CC00;
    --error     : #FFDCDC;
    --error-dark: #FE0100;
}

body {
    margin: 0;
    padding: 20px;
}

.tab {
    overflow: hidden;
    border: 1px solid var(--grey);
    background-color: var(--light-grey);
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: var(--grey);
}

.tab button.active {
    background-color: var(--grey);
}

.tab_content {
    display: none;
    padding: 6px 12px;
    border: 1px solid var(--grey);
    border-top: none;
    width: 100%;
    min-height: 400px;
    font-family: monospace;
    box-sizing: border-box;
}

#compile-btn, #options {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--green);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

#compile-btn:hover, #options:hover {
    background-color: var(--green-dark);
}

#compile-btn:disabled, #options:disabled  {
    background-color: var(--grey);
    cursor: not-allowed;
}

.loading {
    color: var(--grey-dark);
    font-style: italic;
}

#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#loadingBar {
  width: 80%;
  height: 20px;
  background-color: var(--grey);
  border-radius: 5px;
  overflow: hidden;
}
#loadingProgress {
  height: 100%;
  background-color: var(--green);
  transition: width 0.5s ease-in-out; /* Smooth transition for visual effect */
}

.message-container {
    position: fixed;
    bottom: 20px;
    padding: 15px 25px;
    font-size: 16px;
    border-width: 2px;
    border-style: none;
    white-space: pre-wrap;
}

.message-container.show {
    opacity: 1;
}

.message-container.success {
    background-color: var(--success);
    border-bottom-color: var(--success-dark);
    color: var(--success-dark);
    border-style: solid;
}

.message-container.error {
    background-color: var(--error);
    border-bottom-color: var(--error-dark);
    color: var(--error-dark);
    border-style: solid;
}